@charset "UTD-8";


#album-fotos{
    width: 50%;
    
    margin: 0px;
    padding: 20%;
    overflow: hidden;
    list-style: none;
    align-items: 50% 50%;
   padding-top: 1%;

}
#album-fotos li{
  
    
    width: 50%;
    

   
    margin: 2%;
    border: 5px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 1px  1px 3px  rgba(0, 0, 0, 0.4);
    border-radius: 10px;
   
  text-align: right;
    
   

}

#album-fotos li#foto01{
    background: url(_imagens/galeria-01.jpg) no-repeat;
    background-position: center;
    background-size: 300%;
    background-color: #ffffff;
    
  
}
#album-fotos li#foto02{
    background: url(_imagens/galeria-02.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 200%;
    background-color: #ffffff;
  
}#album-fotos li#foto03{
    background: url(_imagens/galeria-03.jpg) no-repeat;
    background-position: 50% 50%;
    background-size:200%;
    background-color: #ffffff;
  
}#album-fotos li#foto04{
    background: url(_imagens/galeria-04.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 200%;
    background-color: #ffffff;
  
}#album-fotos li#foto05{
    background: url(_imagens/galeria-05.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 200%;
    background-color: #ffffff;
  
}#album-fotos li#foto06{
    background: url(_imagens/galeria-06.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 200%;
    background-color: #ffffff;
  
}#album-fotos li span{

 
    opacity: 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
    
  line-height: 370px;
    padding: 1%;
    border-radius: 10px;
  

 
 

}

#legend{
    position: relative;
    bottom: 20%;
    margin-top: 40%;
}
#album-fotos li:hover span{
    
    opacity: 1;
    transition: opacity 1s;

}
#album-fotos li#foto01:hover {
    background-position: 0px 0px;
    background-size: 100%;
  
    


}
#album-fotos li#foto02:hover {
    background-position: 0px 0px;
    background-size: 100%;
    

}
#album-fotos li#foto03:hover {
    background-position: 0px 0px;
    background-size: 100%;
    

}
#album-fotos li#foto04:hover {
    background-position: 0px 0px;
    background-size: 100%;

}#album-fotos li#foto05:hover {
    background-position: 0px 0px;
    background-size: 100%;

}#album-fotos li#foto06:hover {
    background-position: 0px 0px;
    background-size: 100%;
    

}
#album-fotos li:hover {
-webkit-transform: scale(1.5);
-webkit-transition: all .4s ease-in;
transform: scale(1.5) ;
transition:-webkit-transform 0.4s ;
}