#album{
    list-style: none;
   width: 30%;
   
  
}
#album2{
    list-style: none;
   width: 30%;
   
   
  
}
#li{
    
 
}

#img{
   
}

#lgd{
    text-align: center left;
   background-color: rgba(0, 0, 0, 0.2);
   border-radius: 10px;
}
#foto01{
    background-position: center left ;
   background-repeat: no-repeat;
   background-image: url(galeria-01.jpg) ;
   background-size: 150% ;
   background-position: 90% 100%;
   padding: 35%;

 border-radius: 30px;
 margin-bottom: 5%;

 
    
}

#foto02{
    background-position: center left ;
    background-repeat: no-repeat;
    background-image: url(galeria-02.jpg) ;
    background-size: 180% ;
    background-position: 10% 100%;
    padding: 35%;
 
  border-radius: 30px;
  margin-bottom: 5%;

    
 }
 #foto03{
    background-position: center left ;
   background-repeat: no-repeat;
   background-image: url(galeria-03.jpg) ;
   background-size: 130% ;
   background-position: 90% 100%;
   padding: 35%;

 border-radius: 30px;
 margin-bottom: 5%;
  
    
}
#foto04{
    background-position: center left ;
    background-repeat: no-repeat;
    background-image: url(galeria-04.jpg) ;
    background-size: 100% ;
    background-position: 1% 0%;
    padding: 35%;
 
  border-radius: 30px;
  margin-bottom: 5%;
   
    
 }
 #foto05{
    background-position: center left ;
   background-repeat: no-repeat;
   background-image: url(galeria-05.jpg) ;
   background-size: 150% ;
   background-position: 10% 1%;
   padding: 35%;

 border-radius: 30px;
 margin-bottom: 5%;
  
    
}
#foto06{
    background-position: center left ;
    background-repeat: no-repeat;
    background-image: url(galeria-06.jpg) ;
    background-size: 150% ;
    background-position: 9% 1%;
    padding: 35%;
 
  border-radius: 30px;
  margin-bottom: 5%;
   
    
 }
#foto01:hover{
    background-size: 100%;
    padding: 75%;
 
    transition: padding  1s;
   
   
    
}

#foto02:hover{
    background-size: 100%;
    padding: 75%;
 
    transition: padding  1s;
   
}
#foto03:hover{
    background-size: 100%;
    padding: 75%;
 
    transition: padding  1s;
   
   
    
}

#foto04:hover{
    background-size: 100%;
    padding: 75%;
 
    transition: padding  1s;
   
}
#foto05:hover{
    background-size: 100%;
    padding: 75%;
 
    transition: padding  1s;
   
   
    
}

#foto06:hover{
    background-size: 100%;
    padding: 75%;
 
    transition: padding  1s;
   
}
